<mat-toolbar color="primary">
  <div class="navbar">
    <div class="nav-logo">
      <img src="assets/logo.png" alt="Logo" />
      <span>Shopper</span>
    </div>

    <img
      class="nav-dropdown"
      src="assets/dropdown_icon.png"
      alt=""
      (click)="onToggle()"
      [ngClass]="toggle ? 'open' : ''"
    />

    <ul class="nav-menu" [ngClass]="toggle ? 'nav-menu-visible' : ''">
      <li><a routerLink="/shop" routerLinkActive="active">Shop</a></li>
      <li><a routerLink="/mens" routerLinkActive="active">Men</a></li>
      <li><a routerLink="/womens" routerLinkActive="active">Women</a></li>
      <li><a routerLink="/kids" routerLinkActive="active">Kids</a></li>
    </ul>

    <div class="nav-login-cart">
      <a routerLink="/auth/signup" mat-raised-button class="btn-login">Login</a>
      <a mat-icon-button routerLink="/cart">
        <mat-icon
          [matBadge]="count"
          matBadgeSize="small"
          matBadgeColor="warn"
          aria-hidden="false"
          >shopping_cart</mat-icon
        ></a
      >
    </div>
  </div>
</mat-toolbar>

<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span>mean-stack-ecommerce</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container> -->
