.cart-items {
  margin: 100px 170px;

  hr {
    height: 3px;
    background: #e2e2e2;
    border: 0;
    padding: 0;
    margin: 0;
  }

  .cart-item-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0;
    color: #454545;
    font-size: 1.125rem;
    font-weight: 600;
  }

  .cart-items-format {
    font-size: 1.125;
    font-weight: 500;

    .cart-product-icon {
      height: 62px;
    }

    .cart-items-remove-icon {
      width: 15px;
      margin: 0 40px;
      cursor: pointer;
    }

    .cart-items-quantity {
      width: 64px;
      height: 50px;
      border: 2px solid #ebebeb;
      background-color: #fff;
    }
  }

  .cart-items-down {
    display: flex;
    margin: 100px 0;

    .cart-items-total {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-right: 200px;
      gap: 40px;

      .cart-items-total-item {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
      }

      button {
        width: 262px;
        height: 58px;
        outline: none;
        border: none;
        background: #673ab7;
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }

  .cart-items-promocode {
    flex: 1;
    font-size: 1rem;
    font-weight: 500;

    p {
      color: #555;
    }

    .cart-items-promobox {
      width: 504px;
      margin-top: 15px;
      padding-left: 20px;
      height: 58px;
      background: #eaeaea;

      input {
        border: none;
        outline: none;
        background: transparent;
        font-size: 1rem;
        width: 330px;
        height: 50px;
      }

      button {
        width: 170px;
        height: 58px;
        font-size: 16px;
        background: #000;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}
