.admin {
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  height: 100vh;

  .content {
    box-sizing: border-box;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .admin {
    flex-direction: column;
  }
}
