.login-signup {
  width: 100%;
  height: 80vh;
  background: #fce3fe;
  padding-top: 100px;

  .login-signup-container {
    width: 500px;
    height: 600px;
    background: #fff;
    margin: auto;
    padding: 40px 60px;

    h1 {
      margin: 20px 0;
      font-weight: bold;
      color: #6d42b9;
    }
  }

  .login-signup-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;

    button {
      padding: 30px;
    }
  }

  .login-signup-login {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 1.125rem;
    font-weight: 500;

    span {
      color: #6d42b9;
      font-weight: 600;
    }
  }

  .login-signup-agree {
    margin-left: -12px;
  }
}

@media (max-width: 1280px) {
  .login-signup {
    padding-top: 50px;

    .login-signup-container {
      width: auto;
      max-width: 500px;
      max-height: 500px;

      h1 {
        margin: 10px 0;
      }
    }

    .login-signup-fields {
      margin-top: 20px;
    }

    .login-signup-login {
      font-size: 1rem;
    }

    .login-signup-agree {
      font-size: 0.875rem;
      gap: 10px;
    }
  }
}

@media (max-width: 800px) {
  .login-signup {
    .login-signup-container {
      padding: 20px 30px;

      h1 {
        font-size: 1.5rem;
      }
    }
  }
}
