<div class="login-signup">
  <div class="login-signup-container">
    <h1>Sign Up</h1>
    <form
      class="login-signup-fields"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field>
        <mat-label>Your Name</mat-label>
        <input type="text" matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>E-Mail</mat-label>
        <input type="email" matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          autocomplete="off"
        />
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">Continue</button>

      <p class="login-signup-login">
        Already have an account?
        <a routerLink="../signin"><span>Login here</span></a>
      </p>

      <div class="login-signup-agree">
        <mat-checkbox formControlName="check"
          >By continuing, i agree to the terms of use & privacy
          policy.</mat-checkbox
        >
      </div>
    </form>
  </div>
</div>
